*{
    margin: 0px;
    padding: 0px;
    color:white;
    scroll-behavior: smooth;
}

/* NAVBAR */

#navbar{
    background-color: #3a7da5;
    position:fixed;
    width:100%;
    height: 35px;
    z-index:5;
    display: block;
    transition: top 0.3s;
    font-family: "Oswald", sans-serif;
    border-bottom: 1px solid white;
}

#navbar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-content: center;
    margin-top: 5px;
}

#navbar a{
    text-decoration: none;
    font-weight: bold;
}

#navbar li{
    width: 100%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-shadow: 1px 1px black;
    text-align: center;
}

#nav-title{
    display: none;
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    padding-left: 15px;
    letter-spacing: 1px;
    text-shadow: 1px 2px black;
}

#hamburger-icon{
    display:none;
    position: absolute;
    top:0;
    right:5px;
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/800px-Hamburger_icon.svg.png");
    background-position: center;
    background-size: cover;
    filter: invert();
}


/* HEADER */

header{
    text-align:center;
    background-image: url('https://images.unsplash.com/photo-1601745398552-debacfca634c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25px;
    border-bottom: solid 2px #4ca4d6;
}

#header-background{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(76,164,214, 0.35));
}

header h2{
    font-size:30px;
    text-shadow: 3px 3px black;
    padding-bottom: 25px;
    text-decoration: underline;
}

h1{
    font-size:40px;
    text-shadow: 3px 3px black;
    padding: 50px 15px 0px 15px;
}

header img{
    margin-top:50px;
    margin-bottom:50px;
    height: 150px;
    width: 150px;
}

#header-button{
    margin-bottom: 25px;
    border-radius: 15px;
    height: 50px;
    width: 225px;
    box-shadow: 0px 4px wheat;
    border: darkgray 1px solid;
    background: linear-gradient(to bottom, #ffa154, #ff831e);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    cursor: pointer;
}


/* MAIN */

body{
    background-color: rgb(25, 25, 32);
}

main h2{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    padding:0px 0px 15px 5px;

}

main h2::before{
    content: "⭐";
    margin-left: 15px;
    text-decoration: none;
}

.bloque{
    background-color:  rgba(0, 0, 0, 75%);
    padding:25px;
    margin:1%;
    border: solid rgb(92, 92, 92) 1px;
}

.banner{
    position: relative;
    border: solid rgba(255, 255, 255, 25%) 1px;
    padding: 10px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    z-index: 0;
    background: linear-gradient(to right, black, #18384b)

}

#banner-content h3{
    color: black;
    background-color: white;
    width: max-content;
    height: max-content;
    padding: 0px 25px 0px 25px;
    font-size: 30px;
    margin: 20px;
    font-family: "Oswald";
}

#banner-content ul{
    padding: 25px;
    line-height: 25px;
}

#banner-content p{
    padding: 15px;
    margin-left: 30px;
    border-left: 3px solid white;
    width: 55%;
    font-size: 18px;
    background-color: black;
}

#banner-img{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100%;
    width: 500px;
    z-index: -1;
}

#banner-buttons{
    width: 100%;
    margin-top: 25px;
}

#banner-buttons button{
    border-radius: 5px;
    width: 225px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Oswald";
    filter:drop-shadow(0px 3px gray);
}

#banner-buttons button:hover{
    cursor: pointer;
}

#b-entrenamiento-funcional{
    background: linear-gradient(to bottom, rgb(224, 128, 144), rgb(231, 74, 100))
}

#b-plan{
    background: linear-gradient(to bottom, rgb(251, 181, 102), rgb(202, 117, 20))
}

#b-venta{
    background: linear-gradient(to bottom, rgb(128, 231, 124), rgb(70, 194, 66))
}

.linea{
    margin: 35px auto 35px auto;
    width: 75%;
    height: 3px;
    background: linear-gradient(to right, #4ca4d6, #285670);
    opacity:50%;
}

/* CONTENIDO GRATUITO */

#videos-grid{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card{
    border: solid rgba(255, 255, 255, 25%) 1px;
    padding:10px;
    position: relative;
    margin: 10px;
}
.card img{
    width: 300px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.insta-cover{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 50%);
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    z-index: 5;
}

#social-media-buttons div{
    text-align: right;
}

#social-media-buttons h3{
    text-align: right;
    margin-right: 200px;
    font-family: "Oswald";
}

#arrow{
    opacity: 0.25;
}

#social-media-buttons img{
    height: 40px;
    width: auto;
    margin:10px;
    filter: drop-shadow(2px 2px darkgray)
}

/* SECCIÓN ACERCA DE */

#acercade-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 500px;
    justify-content: center;
}

#text{
    padding:25px;
    background-color: rgba(0, 0, 0, 75%);
    font-size:18px;
}

#foto{
    height: 100%;
    width: 100%;
    background-image: url('media/tutor.jpg');
    background-size:cover;
    background-position: right;
    filter: grayscale();
}

/* SECCIÓN DE CONTACTO */

#contact-form{
    background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80');
    background-size: cover;
    padding: 50px 0px 50px 0px;
}

#contacto form{
    margin: 0px auto 0px auto;
    width:35%;
    background-color: rgb(25, 25, 32);
}

#contacto fieldset{
    padding:25px;
}

#contacto input{
    height: 35px;
    width: 100%;
    color:black;
    background-color: #e7e7e7;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#contacto textarea{
    width: 100%;
    resize: vertical;
    color:black;
    background-color: #e7e7e7;
    padding-top:15px;
    padding-left:15px;
    box-sizing: border-box;

}

#submit-button{
    margin-top:5px;
    background-color: #4ca4d6;
    width: 100%;
}

.button{
    border-radius:0px;
    font-weight: bold;
    width:150px;
    height:25px;
    border: white 1px solid;
}

footer{
    background: linear-gradient(#4ca4d6, #285670);
    padding:50px;
    text-align: center;
}

h6{
    font-size: 12px;
}

@media (max-width: 450px) {
    main{
        margin:0px;
    }


    #navbar ul{
        display:none;
        text-align: center;
    }

    #navbar li{
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        background-color: #4ca4d6;
    }

    #nav-title{
        display: block;
    }

    #hamburger-icon{
        display: block;
    }

    #contacto form{
        width: 90%;
    }


}